/* FetchData.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.list_data_main {
    list-style: none;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .usefetch_heading{
    text-align: center;
    margin: 1rem auto;
    font-size: 2rem;
  }
 .list_data {
    margin-bottom: 20px;
    padding: 1rem;
    width: 31%;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .list_data h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .list_data p {
    margin: 5px 0;
  }
  
.loader {
  font-size: 1.1rem;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #ccc;        /* light grey */
  border-top: 4px solid #000;    /* black spinner */
  animation: spin 1s linear infinite;
  margin: 20px auto;             /* center it */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
